<dib-auth-wrapper>
  <form [formGroup]="form" (ngSubmit)="change()" class="flex flex-col">
    <ng-container *ngIf="!requestIsSent; else showSuccessMessage">
      <div *ngIf="showErrorPanel" class="mb-4 flex bg-dib-gray-100 p-4">
        <span class="material-icons mr-2 text-red-600">error_outline</span>
        <div class="flex flex-col">
          <span>You have entered incorrect details.</span>
        </div>
      </div>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput type="password" name="password" formControlName="password" required autocomplete="off" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" name="confirmPassword" formControlName="confirmPassword" required autocomplete="off" />
      </mat-form-field>
    </ng-container>
    <ng-template #showSuccessMessage>
      <div class="mb-10">Password is updated.</div>
    </ng-template>

    <div class="flex items-center justify-between">
      <a class="text-emerald-600" [routerLink]="'/auth/login'">Return to Login</a>
      <button *ngIf="!requestIsSent" mat-flat-button color="primary" class="py-1 px-4 text-white">Send</button>
    </div>
  </form>
</dib-auth-wrapper>
