<dib-wrapper-main>
  <dib-breadcrumbs>
    <dib-breadcrumb label="Dashboard" route="/"></dib-breadcrumb>
    <dib-breadcrumb label="Companies" route="/companies"></dib-breadcrumb>
    <dib-breadcrumb label="Bookings" route="/companies/bookings"></dib-breadcrumb>
    <dib-breadcrumb
      [label]="(booking$ | async)?.tripId"
      [route]="'/companies/bookings/' + (booking$ | async)?.cartId"
      [loading]="firstTimeLoading$ | async"
    ></dib-breadcrumb>
    <dib-breadcrumb [label]="(companyUser$ | async)?.fullName" [loading]="firstTimeLoading$ | async"></dib-breadcrumb>
  </dib-breadcrumbs>

  <dib-wrapper-details [loading]="firstTimeLoading$ | async" [item]="companyUser$ | async">
    <!-- Sidebar tabs -->
    <ng-container slot="tabs">
      <!-- TODO: We can probably extract and reuse this tab list across entire booking module (booking, traveler, company) -->
      <dib-wrapper-details-tab type="header">Company</dib-wrapper-details-tab>
      <dib-wrapper-details-tab
        [title]="(booking$ | async)?.company?.name"
        [route]="'/companies/bookings/' + (booking$ | async)?.cartId + '/company/' + (booking$ | async)?.company?.id"
      >
        {{ (booking$ | async)?.company?.name }}
      </dib-wrapper-details-tab>

      <ng-container *ngIf="(booking$ | async)?.travelerProfiles().length">
        <dib-wrapper-details-tab type="header">Traveler Profiles</dib-wrapper-details-tab>
        <dib-wrapper-details-tab
          *ngFor="let traveler of (booking$ | async)?.travelerProfiles()"
          [attr.active]="traveler.id === (companyUser$ | async)?.id"
          [title]="traveler.name"
          [route]="'/companies/bookings/' + (booking$ | async)?.cartId + '/users/' + traveler.id"
        >
          {{ traveler.name }}
        </dib-wrapper-details-tab>
      </ng-container>

      <dib-wrapper-details-tab type="header">Booking</dib-wrapper-details-tab>
      <dib-wrapper-details-tab [title]="(booking$ | async)?.tripId" [route]="'/companies/bookings/' + (booking$ | async)?.cartId">
        {{ (booking$ | async)?.tripId }}
      </dib-wrapper-details-tab>
    </ng-container>

    <!-- Main content -->
    <ng-container slot="content" *ngIf="companyUser$ | async as companyUser">
      <app-company-user-details-form [companyUser]="companyUser"></app-company-user-details-form>
      <app-company-user-details-tabs [companyUser]="companyUser"></app-company-user-details-tabs>
    </ng-container>
  </dib-wrapper-details>
</dib-wrapper-main>
