<dib-wrapper-main>
  <dib-breadcrumbs>
    <dib-breadcrumb label="Dashboard" route="/"></dib-breadcrumb>
    <dib-breadcrumb label="Companies" route="/companies"></dib-breadcrumb>
    <dib-breadcrumb label="Bookings" route="/companies/bookings"></dib-breadcrumb>
  </dib-breadcrumbs>

  <dib-green-search-wrapper
    activeTab="bookings"
    [filters]="filters"
    (searchUsers)="onSearchUsers($event)"
    (searchCompanies)="onSearchCompanies($event)"
    (searchBookings)="filterMultiple($event, true)"
  ></dib-green-search-wrapper>

  <dib-wrapper-listing>
    <ng-container slot="title">Bookings</ng-container>
    <ng-container slot="hidden-columns-message">
      <span class="hidden sm:block">* Some columns are hidden due to small screen size</span>
    </ng-container>

    <ng-container slot="total">
      <dib-wrapper-listing-total [total]="(bookings$ | async).pagination?.totalElements"></dib-wrapper-listing-total>
    </ng-container>

    <ng-container slot="table">
      <table
        mat-table
        matSort
        (matSortChange)="onSortChange($event)"
        [matSortActive]="sortActive"
        [matSortDirection]="sortDirection"
        matSortDisableClear
        [dataSource]="dataSource"
        class="whitespace-nowrap"
      >
        <ng-container matColumnDef="tripId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip ID</th>
          <td mat-cell *matCellDef="let row">{{ row.tripId }}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th class="sm:hidden" mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
          <td class="whitespace-normal break-words pr-2 sm:hidden" mat-cell *matCellDef="let row">{{ row.companyName }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th class="sm:hidden" mat-header-cell *matHeaderCellDef mat-sort-header>Cart Status</th>
          <td class="sm:hidden" mat-cell *matCellDef="let row">{{ row.status | dibDashesToSpaces | titlecase }}</td>
        </ng-container>
        <ng-container matColumnDef="travelers">
          <th class="xs:hidden" mat-header-cell *matHeaderCellDef>Travelers</th>
          <td class="xs:hidden" mat-cell *matCellDef="let row">
            <div
              *ngIf="row.travelers.length; else noTravelers"
              class="flex items-center"
              [matTooltip]="row.travelers.join(', ')"
              matTooltipPosition="above"
            >
              {{ row.travelers.length }}
              <span class="material-icons ml-1 text-lg"> info_outline </span>
            </div>
            <ng-template #noTravelers>-</ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="bookerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Booker Name</th>
          <td class="whitespace-normal break-words pr-2" mat-cell *matCellDef="let row">{{ row.bookerName }}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th class="xs:hidden" mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td class="xs:hidden" mat-cell *matCellDef="let row">
            <span [matTooltip]="row.startDate | dibDate: 'distanceToNow'">
              {{ row.startDate | dibDate }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th class="xs:hidden" mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td class="xs:hidden" mat-cell *matCellDef="let row">
            <span [matTooltip]="row.endDate | dibDate: 'distanceToNow'">
              {{ row.endDate | dibDate }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="loader">
          <th [colSpan]="columns.length" mat-header-cell *matHeaderCellDef>
            <div *ngIf="(bookings$ | async).loading">
              <mat-progress-bar mode="indeterminate" class="absolute"></mat-progress-bar>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="text-right">
            <a
              mat-icon-button
              color="accent"
              [routerLink]="['/companies/bookings', row.cartId]"
              matTooltip="View booking details"
              matTooltipPosition="left"
              class="hover:text-dib-green-600"
            >
              <span class="material-icons">visibility</span>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-header-row *matHeaderRowDef="['loader']"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
        <tr *matNoDataRow class="whitespace-normal">
          <td [colSpan]="columns.length" class="border-b p-6 text-center">
            <ng-container *ngIf="(bookings$ | async).loading; else noData">
              Loading data. This can take a few seconds, please be patient.
            </ng-container>
            <ng-template #noData> No records found. Please refine your search and try again. </ng-template>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container slot="pagination">
      <mat-paginator
        *ngIf="(bookings$ | async).pagination"
        [length]="(bookings$ | async).pagination.totalElements"
        [pageIndex]="(bookings$ | async).pagination.number"
        [pageSize]="(bookings$ | async).pagination.size"
        (page)="onPageChange()"
      ></mat-paginator>
    </ng-container>
  </dib-wrapper-listing>
</dib-wrapper-main>
