<form @elementCrossFade [formGroup]="form" class="mt-5 flex flex-col items-start space-y-2">
  <div class="flex w-full items-end justify-between xs:flex-wrap">
    <div class="flex flex-wrap xs:w-full">
      <mat-form-field appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Trip ID</mat-label>
        <input matInput name="tripId" formControlName="tripId" autocomplete="off" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Company Name</mat-label>
        <input matInput name="companyName" formControlName="companyName" autocomplete="off" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Cart Status</mat-label>
        <mat-select formControlName="status">
          <mat-option>Show All</mat-option>
          <mat-option *ngFor="let status of statuses" [value]="status">{{ status | dibDashesToSpaces }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <span class="ml-2 text-xs font-light uppercase" [class.text-white]="textColor === 'light'">Secondary Search</span>
  <div class="flex w-full items-end justify-between xs:flex-wrap">
    <div class="flex flex-wrap xs:w-full">
      <mat-form-field appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Traveler Name</mat-label>
        <input matInput name="traveler" formControlName="traveler" autocomplete="off" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Product Type</mat-label>
        <mat-select formControlName="referenceType" (selectionChange)="onTypeChange($event.value)">
          <mat-option>Show All</mat-option>
          <mat-option *ngFor="let type of referenceTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('referenceType').value" appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Booking Reference</mat-label>
        <input matInput name="bookingReference" formControlName="bookingReference" autocomplete="off" />
      </mat-form-field>

      <mat-form-field *ngIf="showSearchByFlightTicketNumber" appearance="fill" class="small white-fill mr-6 xs:mr-0 xs:w-full">
        <mat-label>Flight Ticket Number</mat-label>
        <input matInput name="flightTicketNumber" formControlName="flightTicketNumber" autocomplete="off" placeholder="117-2485720958" />
      </mat-form-field>
    </div>

    <div class="mb-4 flex justify-end space-x-2 xs:w-full">
      <button
        *ngIf="form.dirty"
        type="reset"
        mat-button
        class="py-1 px-4"
        [class.text-white]="textColor === 'light'"
        (click)="reset($event)"
      >
        Reset
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="py-1 px-4 text-white"
        (click)="search()"
        [class.bg-dib-green-500]="form.valid"
        [disabled]="form.invalid"
      >
        Search
      </button>
    </div>
  </div>
</form>
