$emphasis-high: rgb(0 0 0.87);
$emphasis-medium: rgb(0 0 0 / 60%);
$emphasis-low: rgb(0 0 0 / 38%);
$emphasis-lower: rgb(0 0 0 / 12%);
$overlayColor: #000000;

// global
$fontFamily: roboto, helvetica neue light, helvetica neue, helvetica, arial, lucida grande, sans-serif;
$fontSize: 1rem;
$fontWeight: normal;
$textColor: $emphasis-high;
$textSecondaryColor: $emphasis-medium;
$borderRadius: 4px;
$transitionDuration: 0.2s;
$formElementTransition: background-color $transitionDuration, border-color $transitionDuration,
  color $transitionDuration, box-shadow $transitionDuration, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
$actionIconTransition: background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration;
$listItemTransition: none;
$primeIconFontSize: 1rem;
$divider: 1px solid rgb(0 0 0 / 12%);
$inlineSpacing: 0.5rem;
$disabledOpacity: 0.38;
$maskBg: rgb(0 0 0 / 32%);
$loadingIconFontSize: 2rem;
$errorColor: #b00020;

// selected state
$highlightBg: rgba($primaryColor, 0.12);
$highlightTextColor: $primaryColor;

// scale
$scaleSM: 0.875;
$scaleLG: 1.25;

// focus
$focusOutlineColor: transparent;
$focusOutline: 0 none;
$focusOutlineOffset: 0;
$focusShadow: none;

// action icons
$actionIconWidth: 2.5rem;
$actionIconHeight: 2.5rem;
$actionIconBg: transparent;
$actionIconBorder: 0 none;
$actionIconColor: $textSecondaryColor;
$actionIconHoverBg: rgb(0 0 0 / 4%);
$actionIconHoverBorderColor: transparent;
$actionIconHoverColor: $textSecondaryColor;
$actionIconBorderRadius: 50%;

// input field (e.g. inputtext, spinner, inputmask)
$inputPadding: 1rem 1rem;
$inputTextFontSize: 1rem;
$inputBg: #ffffff;
$inputTextColor: $emphasis-high;
$inputIconColor: $emphasis-medium;
$inputBorder: 1px solid $emphasis-low;
$inputHoverBorderColor: $emphasis-high;
$inputFocusBorderColor: $primaryColor;
$inputErrorBorderColor: $errorColor;
$inputPlaceholderTextColor: $emphasis-medium;
$inputFilledBg: #f5f5f5;
$inputFilledHoverBg: #ececec;
$inputFilledFocusBg: #dcdcdc;

// input groups
$inputGroupBg: $inputBg;
$inputGroupTextColor: $emphasis-medium;
$inputGroupAddOnMinWidth: 2.357rem;

// input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListBg: #ffffff;
$inputListTextColor: $textColor;
$inputListBorder: 1px solid #e5e5e5;
$inputListPadding: 0;
$inputListItemPadding: 1rem 1rem;
$inputListItemBg: transparent;
$inputListItemTextColor: $textColor;
$inputListItemHoverBg: rgb(0 0 0 / 4%);
$inputListItemTextHoverColor: $textColor;
$inputListItemBorder: 0 none;
$inputListItemBorderRadius: 0;
$inputListItemMargin: 0;
$inputListItemFocusShadow: none;
$inputListHeaderPadding: 1rem;
$inputListHeaderMargin: 0;
$inputListHeaderBg: #ffffff;
$inputListHeaderTextColor: $textColor;
$inputListHeaderBorder: 1px solid rgb(0 0 0 / 12%);

// inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBg: $inputListBg;
$inputOverlayHeaderBg: $inputListHeaderBg;
$inputOverlayBorder: 0 none;
$inputOverlayShadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);

// password
$passwordMeterBg: rgba($primaryColor, 0.32) !default;
$passwordWeakBg: #d32f2f !default;
$passwordMediumBg: #fbc02d !default;
$passwordStrongBg: #689f38 !default;

// button
$buttonPadding: 0.714rem 1rem;
$buttonIconOnlyWidth: 3rem;
$buttonIconOnlyPadding: 0.714rem;
$buttonBg: $primaryColor;
$buttonTextColor: $primaryTextColor;
$buttonBorder: 0 none;
$buttonHoverBg: rgba($primaryColor, 0.92);
$buttonTextHoverColor: $primaryTextColor;
$buttonHoverBorderColor: transparent;
$buttonActiveBg: rgba($primaryColor, 0.68);
$buttonTextActiveColor: $primaryTextColor;
$buttonActiveBorderColor: transparent;
$raisedButtonShadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
$roundedButtonBorderRadius: 2rem;
$textButtonHoverBgOpacity: 0.04;
$textButtonActiveBgOpacity: 0.16;
$outlinedButtonBorder: 1px solid;
$plainButtonTextColor: $textSecondaryColor;
$plainButtonHoverBgColor: rgb(0 0 0 / 4%);
$plainButtonActiveBgColor: rgb(0 0 0 / 16%);
$secondaryButtonBg: $accentColor;
$secondaryButtonTextColor: $accentTextColor;
$secondaryButtonBorder: 0 none;
$secondaryButtonHoverBg: rgba($accentColor, 0.92);
$secondaryButtonTextHoverColor: $accentTextColor;
$secondaryButtonHoverBorderColor: transparent;
$secondaryButtonActiveBg: rgba($accentColor, 0.68);
$secondaryButtonTextActiveColor: $accentTextColor;
$secondaryButtonActiveBorderColor: transparent;
$secondaryButtonFocusShadow: none;
$infoButtonBg: #2196f3;
$infoButtonTextColor: #ffffff;
$infoButtonBorder: 0 none;
$infoButtonHoverBg: rgba(#2196f3, 0.92);
$infoButtonTextHoverColor: #ffffff;
$infoButtonHoverBorderColor: transparent;
$infoButtonActiveBg: rgba(#2196f3, 0.68);
$infoButtonTextActiveColor: #ffffff;
$infoButtonActiveBorderColor: transparent;
$infoButtonFocusShadow: none;
$successButtonBg: #689f38;
$successButtonTextColor: #ffffff;
$successButtonBorder: 0 none;
$successButtonHoverBg: rgba(#689f38, 0.92);
$successButtonTextHoverColor: #ffffff;
$successButtonHoverBorderColor: transparent;
$successButtonActiveBg: rgba(#689f38, 0.68);
$successButtonTextActiveColor: #ffffff;
$successButtonActiveBorderColor: transparent;
$successButtonFocusShadow: none;
$warningButtonBg: #fbc02d;
$warningButtonTextColor: #212529;
$warningButtonBorder: 0 none;
$warningButtonHoverBg: rgba(#fbc02d, 0.92);
$warningButtonTextHoverColor: #212529;
$warningButtonHoverBorderColor: transparent;
$warningButtonActiveBg: rgba(#fbc02d, 0.68);
$warningButtonTextActiveColor: #212529;
$warningButtonActiveBorderColor: transparent;
$warningButtonFocusShadow: none;
$helpButtonBg: #9c27b0;
$helpButtonTextColor: #ffffff;
$helpButtonBorder: 0 none;
$helpButtonHoverBg: rgba(#9c27b0, 0.92);
$helpButtonTextHoverColor: #ffffff;
$helpButtonHoverBorderColor: transparent;
$helpButtonActiveBg: rgba(#9c27b0, 0.68);
$helpButtonTextActiveColor: #ffffff;
$helpButtonActiveBorderColor: transparent;
$helpButtonFocusShadow: none;
$dangerButtonBg: #d32f2f;
$dangerButtonTextColor: #ffffff;
$dangerButtonBorder: 0 none;
$dangerButtonHoverBg: rgba(#d32f2f, 0.92);
$dangerButtonTextHoverColor: #ffffff;
$dangerButtonHoverBorderColor: transparent;
$dangerButtonActiveBg: rgba(#d32f2f, 0.68);
$dangerButtonTextActiveColor: #ffffff;
$dangerButtonActiveBorderColor: transparent;
$dangerButtonFocusShadow: none;
$linkButtonColor: $primaryColor;
$linkButtonHoverColor: $primaryColor;
$linkButtonTextHoverDecoration: underline;
$linkButtonFocusShadow: none;

// checkbox
$checkboxWidth: 18px;
$checkboxHeight: 18px;
$checkboxBorder: 2px solid #757575;
$checkboxIconFontSize: 14px;
$checkboxActiveBorderColor: $primaryColor;
$checkboxActiveBg: $primaryColor;
$checkboxIconActiveColor: $primaryTextColor;
$checkboxActiveHoverBg: $primaryColor;
$checkboxIconActiveHoverColor: $primaryTextColor;
$checkboxActiveHoverBorderColor: $primaryColor;

// radiobutton
$radiobuttonWidth: 20px;
$radiobuttonHeight: 20px;
$radiobuttonBorder: 2px solid #757575;
$radiobuttonIconSize: 10px;
$radiobuttonActiveBorderColor: $primaryColor;
$radiobuttonActiveBg: $primaryTextColor;
$radiobuttonIconActiveColor: $primaryColor;
$radiobuttonActiveHoverBg: $primaryTextColor;
$radiobuttonIconActiveHoverColor: $primaryColor;
$radiobuttonActiveHoverBorderColor: $primaryColor;

// colorpicker
$colorPickerPreviewWidth: 2rem;
$colorPickerPreviewHeight: 2rem;
$colorPickerBg: #323232;
$colorPickerBorderColor: #191919;
$colorPickerHandleColor: #ffffff;

// togglebutton
$toggleButtonBg: #ffffff;
$toggleButtonBorder: 1px solid rgb(0 0 0 / 12%);
$toggleButtonTextColor: $textColor;
$toggleButtonIconColor: $textSecondaryColor;
$toggleButtonHoverBg: #f6f6f6;
$toggleButtonHoverBorderColor: rgb(0 0 0 / 12%);
$toggleButtonTextHoverColor: $textColor;
$toggleButtonIconHoverColor: $textSecondaryColor;
$toggleButtonActiveBg: #e0e0e1;
$toggleButtonActiveBorderColor: #e0e0e1;
$toggleButtonTextActiveColor: $textColor;
$toggleButtonIconActiveColor: $textSecondaryColor;
$toggleButtonActiveHoverBg: #d9d8d9;
$toggleButtonActiveHoverBorderColor: #d9d8d9;
$toggleButtonTextActiveHoverColor: $textColor;
$toggleButtonIconActiveHoverColor: $textSecondaryColor;

// inplace
$inplacePadding: $inputPadding;
$inplaceHoverBg: rgb(0 0 0 / 4%);
$inplaceTextHoverColor: $textColor;

// rating
$ratingIconFontSize: 1.143rem;
$ratingCancelIconColor: #b00020;
$ratingCancelIconHoverColor: #b00020;
$ratingStarIconOffColor: $primaryColor;
$ratingStarIconOnColor: $primaryColor;
$ratingStarIconHoverColor: $primaryColor;

// slider
$sliderBg: #c1c1c1;
$sliderBorder: 0 none;
$sliderHorizontalHeight: 2px;
$sliderVerticalWidth: 2px;
$sliderHandleWidth: 20px;
$sliderHandleHeight: 20px;
$sliderHandleBg: $primaryColor;
$sliderHandleBorder: 0 none;
$sliderHandleBorderRadius: 50%;
$sliderHandleHoverBorderColor: 0 none;
$sliderHandleHoverBg: $primaryColor;
$sliderRangeBg: $primaryColor;

// calendar
$calendarTableMargin: 0.5rem 0;
$calendarPadding: 0.5rem;
$calendarBg: #ffffff;
$calendarInlineBg: $calendarBg;
$calendarTextColor: $textColor;
$calendarBorder: $inputListBorder;
$calendarOverlayBorder: $inputOverlayBorder;
$calendarHeaderPadding: 0.5rem;
$calendarHeaderBg: #ffffff;
$calendarInlineHeaderBg: $calendarBg;
$calendarHeaderBorder: $divider;
$calendarHeaderTextColor: $textColor;
$calendarHeaderFontWeight: 500;
$calendarHeaderCellPadding: 0.5rem;
$calendarCellDatePadding: 0.5rem;
$calendarCellDateWidth: 2.5rem;
$calendarCellDateHeight: 2.5rem;
$calendarCellDateBorderRadius: 50%;
$calendarCellDateBorder: 1px solid transparent;
$calendarCellDateHoverBg: rgb(0 0 0 / 4%);
$calendarCellDateTodayBg: #ffffff;
$calendarCellDateTodayBorderColor: rgb(0 0 0 / 1200%);
$calendarCellDateTodayTextColor: $textColor;
$calendarButtonBarPadding: 1rem 0;
$calendarTimePickerPadding: 0.5rem;
$calendarTimePickerElementPadding: 0 0.5rem;
$calendarTimePickerTimeFontSize: 1.25rem;
$calendarBreakpoint: 769px;
$calendarCellDatePaddingSM: 0;

// input switch
$inputSwitchWidth: 2.75rem;
$inputSwitchHeight: 1rem;
$inputSwitchBorderRadius: 0.5rem;
$inputSwitchHandleWidth: 1.5rem;
$inputSwitchHandleHeight: 1.5rem;
$inputSwitchHandleBorderRadius: 50%;
$inputSwitchSliderPadding: -1px;
$inputSwitchSliderOffBg: rgb(0 0 0 / 38%);
$inputSwitchHandleOffBg: #ffffff;
$inputSwitchSliderOffHoverBg: rgb(0 0 0 / 38%);
$inputSwitchSliderOnBg: rgba($primaryColor, 0.5);
$inputSwitchSliderOnHoverBg: rgba($primaryColor, 0.5);
$inputSwitchHandleOnBg: $primaryColor;

// panel
$panelHeaderBorderColor: #e0e0e0 !default;
$panelHeaderBorder: 1px solid #e0e0e0;
$panelHeaderBg: #ffffff;
$panelHeaderTextColor: $textColor;
$panelHeaderFontWeight: 500;
$panelHeaderPadding: 1rem;
$panelToggleableHeaderPadding: 0.5rem 1rem;
$panelHeaderHoverBg: rgb(0 0 0 / 4%);
$panelHeaderHoverBorderColor: #e0e0e0;
$panelHeaderTextHoverColor: $textColor;
$panelContentBorderColor: #e0e0e0 !default;
$panelContentBorder: 1px solid #e0e0e0;
$panelContentBg: #ffffff;
$panelContentTextColor: $textColor;
$panelContentPadding: 1rem;
$panelFooterBorder: 1px solid #e0e0e0;
$panelFooterBg: #ffffff;
$panelFooterTextColor: $textColor;
$panelFooterPadding: 1rem 1rem;

// accordion
$accordionSpacing: 0;
$accordionHeaderBorder: 0 none;
$accordionHeaderBg: #ffffff;
$accordionHeaderTextColor: $textColor;
$accordionHeaderFontWeight: 400;
$accordionHeaderPadding: 1.5rem;
$accordionHeaderHoverBg: #f6f6f6;
$accordionHeaderHoverBorderColor: transparent;
$accordionHeaderTextHoverColor: $textColor;
$accordionHeaderActiveBg: #ffffff;
$accordionHeaderActiveBorderColor: transparent;
$accordionHeaderTextActiveColor: $textColor;
$accordionHeaderActiveHoverBg: #ffffff;
$accordionHeaderActiveHoverBorderColor: transparent;
$accordionHeaderTextActiveHoverColor: $textColor;
$accordionContentBorder: 0 none;
$accordionContentBg: #ffffff;
$accordionContentTextColor: $textColor;
$accordionContentPadding: 1rem 1.5rem;

// tabview
$tabviewNavBorder: solid rgb(0 0 0 / 12%);
$tabviewNavBorderWidth: 0 0 1px 0;
$tabviewNavBg: #ffffff;
$tabviewHeaderSpacing: 0;
$tabviewHeaderBorder: none;
$tabviewHeaderBorderWidth: 0 0 0 0;
$tabviewHeaderBorderColor: transparent transparent transparent transparent;
$tabviewHeaderBg: #ffffff;
$tabviewHeaderTextColor: $textSecondaryColor;
$tabviewHeaderFontWeight: 500;
$tabviewHeaderPadding: 1rem 1.5rem;
$tabviewHeaderMargin: 0 0 0 0;
$tabviewHeaderHoverBg: rgba($primaryColor, 0.04);
$tabviewHeaderHoverBorderColor: transparent;
$tabviewHeaderTextHoverColor: $textSecondaryColor;
$tabviewHeaderActiveBg: #ffffff;
$tabviewHeaderActiveBorderColor: transparent;
$tabviewHeaderTextActiveColor: $primaryColor;
$tabviewContentBorder: 0 none;
$tabviewContentBg: #ffffff;
$tabviewContentTextColor: $textColor;
$tabviewContentPadding: $panelContentPadding;

// upload
$fileUploadProgressBarHeight: 4px;
$fileUploadContentPadding: 2rem 1rem;

// scrollpanel
$scrollPanelTrackBorder: 0 none;
$scrollPanelTrackBg: rgb(0 0 0 / 12%);

// card
$cardBodyPadding: 1rem;
$cardTitleFontSize: 1.5rem;
$cardTitleFontWeight: 700;
$cardSubTitleFontWeight: 400;
$cardSubTitleColor: $textSecondaryColor;
$cardContentPadding: 1rem 0;
$cardFooterPadding: 1rem 0 0 0;
$cardShadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

// editor
$editorToolbarBg: $panelHeaderBg;
$editorToolbarBorder: $panelHeaderBorder;
$editorToolbarPadding: $panelHeaderPadding;
$editorToolbarIconColor: $textSecondaryColor;
$editorToolbarIconHoverColor: $textColor;
$editorIconActiveColor: $primaryColor;
$editorContentBorder: $panelContentBorder;
$editorContentBg: $panelContentBg;

// paginator
$paginatorBg: #ffffff;
$paginatorTextColor: $textColor;
$paginatorBorder: solid #e4e4e4;
$paginatorBorderWidth: 0;
$paginatorPadding: 0.5rem 1rem;
$paginatorElementWidth: $buttonIconOnlyWidth;
$paginatorElementHeight: $buttonIconOnlyWidth;
$paginatorElementBg: transparent;
$paginatorElementBorder: 0 none;
$paginatorElementIconColor: $textSecondaryColor;
$paginatorElementHoverBg: rgb(0 0 0 / 4%);
$paginatorElementHoverBorderColor: transparent;
$paginatorElementIconHoverColor: $textSecondaryColor;
$paginatorElementBorderRadius: 50%;
$paginatorElementMargin: 0.143rem;
$paginatorElementPadding: 0;

// table
$tableHeaderBorder: 1px solid #e4e4e4;
$tableHeaderBorderWidth: 0 0 1px 0;
$tableHeaderBg: #ffffff;
$tableHeaderTextColor: $textColor;
$tableHeaderFontWeight: 500;
$tableHeaderPadding: 1rem 1rem;
$tableHeaderCellPadding: 1rem 1rem;
$tableHeaderCellBg: #ffffff;
$tableHeaderCellTextColor: $textColor;
$tableHeaderCellFontWeight: 500;
$tableHeaderCellBorder: 1px solid #e4e4e4;
$tableHeaderCellBorderWidth: 0 0 1px 0;
$tableHeaderCellHoverBg: rgb(0 0 0 / 4%);
$tableHeaderCellTextHoverColor: $textColor;
$tableHeaderCellIconColor: $textSecondaryColor;
$tableHeaderCellIconHoverColor: $textSecondaryColor;
$tableHeaderCellHighlightBg: #ffffff;
$tableHeaderCellHighlightTextColor: $textColor;
$tableHeaderCellHighlightHoverBg: rgb(0 0 0 / 4%);
$tableHeaderCellHighlightTextHoverColor: $textColor;
$tableSortableColumnBadgeSize: 1.143rem;
$tableBodyRowBg: #ffffff;
$tableBodyRowTextColor: $textColor;
$tableBodyRowEvenBg: rgb(0 0 0 / 2%);
$tableBodyRowHoverBg: rgb(0 0 0 / 4%);
$tableBodyRowTextHoverColor: $textColor;
$tableBodyCellBorder: 1px solid #e4e4e4;
$tableBodyCellBorderWidth: 0 0 1px 0;
$tableBodyCellPadding: 1rem 1rem;
$tableFooterCellPadding: 1rem 1rem;
$tableFooterCellBg: #ffffff;
$tableFooterCellTextColor: $textColor;
$tableFooterCellFontWeight: 500;
$tableFooterCellBorder: 1px solid #e4e4e4;
$tableFooterCellBorderWidth: 0 0 1px 0;
$tableResizerHelperBg: $primaryColor;
$tableFooterBorder: 1px solid #e4e4e4;
$tableFooterBorderWidth: 0 0 1px 0;
$tableFooterBg: #ffffff;
$tableFooterTextColor: $textColor;
$tableFooterFontWeight: 500;
$tableFooterPadding: 1rem 1rem;
$tableCellContentAlignment: left;
$tableTopPaginatorBorderWidth: 0 0 1px 0;
$tableBottomPaginatorBorderWidth: 0 0 1px 0;
$tableScaleSM: 0.5;
$tableScaleLG: 1.25;

// dataview
$dataViewContentPadding: 1rem 0;
$dataViewContentBorder: 0 none;
$dataViewListItemBorder: solid rgb(0 0 0 / 12%);
$dataViewListItemBorderWidth: 0 0 1px 0;

// orderlist, picklist
$orderListBreakpoint: 769px;
$pickListBreakpoint: 769px;

// schedule
$fullCalendarEventBg: $highlightBg;
$fullCalendarEventBorderColor: $highlightBg !default;
$fullCalendarEventBorder: 1px solid $highlightBg;
$fullCalendarEventTextColor: $highlightTextColor;

// tree
$treeNodePadding: 0.25rem;
$treeNodeContentPadding: 0.75rem;
$treeNodeChildrenPadding: 0 0 0 1rem;
$treeNodeIconColor: $textSecondaryColor;

// timeline
$timelineVerticalEventContentPadding: 0 1rem !default;
$timelineHorizontalEventContentPadding: 1rem 0 !default;
$timelineEventMarkerWidth: 1rem !default;
$timelineEventMarkerHeight: 1rem !default;
$timelineEventMarkerBorderRadius: 50% !default;
$timelineEventMarkerBorder: 0 none !default;
$timelineEventMarkerBackground: #bdbdbd !default;
$timelineEventConnectorSize: 2px !default;
$timelineEventColor: #bdbdbd !default;

// org chart
$organizationChartConnectorColor: rgb(0 0 0 / 12%);

// message
$messageMargin: 1rem 0;
$messagePadding: 1.25rem 1.5rem;
$messageBorderWidth: 0 0 0 0;
$messageIconFontSize: 1.5rem;
$messageTextFontSize: 1rem;
$messageTextFontWeight: 500;

// inline message
$inlineMessagePadding: $inputPadding;
$inlineMessageMargin: 0;
$inlineMessageIconFontSize: 1rem;
$inlineMessageTextFontSize: 1rem;
$inlineMessageBorderWidth: 1px;

// toast
$toastIconFontSize: 2rem;
$toastMessageTextMargin: 0 0 0 1rem;
$toastMargin: 0 0 1rem 0;
$toastPadding: 1.5rem;
$toastBorderWidth: 0 0 0 0;
$toastShadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
$toastOpacity: 0.9;
$toastTitleFontWeight: 700;
$toastDetailMargin: $inlineSpacing 0 0 0;

// severities
$infoMessageBg: #b3e5fc;
$infoMessageBorder: solid transparent;
$infoMessageTextColor: #01579b;
$infoMessageIconColor: #01579b;
$successMessageBg: #c8e6c9;
$successMessageBorder: solid transparent;
$successMessageTextColor: #1b5e20;
$successMessageIconColor: #1b5e20;
$warningMessageBg: #ffecb3;
$warningMessageBorder: solid transparent;
$warningMessageTextColor: #7f6003;
$warningMessageIconColor: #7f6003;
$errorMessageBg: #ffcdd2;
$errorMessageBorder: solid transparent;
$errorMessageTextColor: #b71c1c;
$errorMessageIconColor: #b71c1c;

// overlays
$overlayContentBorder: 0 none;
$overlayContentBg: $panelContentBg;
$overlayContainerShadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%),
  0 9px 46px 8px rgb(0 0 0 / 12%);

// dialog
$dialogHeaderBg: #ffffff;
$dialogHeaderBorder: 0 none;
$dialogHeaderTextColor: $textColor;
$dialogHeaderFontWeight: 500;
$dialogHeaderFontSize: 1.25rem;
$dialogHeaderPadding: 1.5rem;
$dialogContentPadding: 0 1.5rem 1.5rem 1.5rem;
$dialogFooterBorder: 0 none;
$dialogFooterPadding: 1rem 1.5rem;

// tooltip
$tooltipBg: rgb(97 97 97 / 90%);
$tooltipTextColor: #ffffff;
$tooltipPadding: 0.5rem;

// steps
$stepsItemBg: transparent;
$stepsItemBorder: 1px solid transparent;
$stepsItemTextColor: $textColor;
$stepsItemNumberWidth: 2rem;
$stepsItemNumberHeight: 2rem;
$stepsItemNumberFontSize: 1.143rem;
$stepsItemNumberColor: $textColor;
$stepsItemNumberBorderRadius: 50%;
$stepsItemActiveFontWeight: 500;

// progressbar
$progressBarHeight: 4px;
$progressBarBorder: 0 none;
$progressBarBg: rgba($primaryColor, 0.32);
$progressBarValueBg: $primaryColor;

// menu (e.g. menu, menubar, tieredmenu)
$menuWidth: 12.5rem;
$menuBg: #ffffff;
$menuBorder: 1px solid #e5e5e5;
$menuTextColor: $textColor;
$menuitemPadding: 1rem 1rem;
$menuitemBorderRadius: 0;
$menuitemTextColor: $textColor;
$menuitemIconColor: $textSecondaryColor;
$menuitemTextHoverColor: $textColor;
$menuitemIconHoverColor: $textSecondaryColor;
$menuitemHoverBg: rgb(0 0 0 / 4%);
$menuitemTextActiveColor: $textColor;
$menuitemIconActiveColor: $textSecondaryColor;
$menuitemActiveBg: rgb(0 0 0 / 4%);
$menuitemSubmenuIconFontSize: 0.875rem;
$submenuHeaderMargin: 0;
$submenuHeaderPadding: 1rem;
$submenuHeaderBg: #ffffff;
$submenuHeaderTextColor: $textSecondaryColor;
$submenuHeaderBorderRadius: 0;
$submenuHeaderFontWeight: 400;
$overlayMenuBg: $menuBg;
$overlayMenuBorder: 0 none;
$overlayMenuShadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
$verticalMenuPadding: 0.5rem 0;
$verticalMenuitemMargin: 0;
$menuSeparatorMargin: 0.5rem 0;
$breadcrumbPadding: 1rem;
$breadcrumbBg: #ffffff;
$breadcrumbBorder: 1px solid #e5e5e5;
$breadcrumbItemTextColor: $textColor;
$breadcrumbItemIconColor: $textSecondaryColor;
$breadcrumbLastItemTextColor: $textColor;
$breadcrumbLastItemIconColor: $textSecondaryColor;
$breadcrumbSeparatorColor: $textSecondaryColor;
$horizontalMenuPadding: 1rem;
$horizontalMenuBg: transparent;
$horizontalMenuBorder: 1px solid #e5e5e5;
$horizontalMenuTextColor: $textColor;
$horizontalMenuRootMenuitemPadding: 1rem;
$horizontalMenuRootMenuitemBorderRadius: $borderRadius;
$horizontalMenuRootMenuitemTextColor: $textColor;
$horizontalMenuRootMenuitemIconColor: $textSecondaryColor;
$horizontalMenuRootMenuitemTextHoverColor: $textColor;
$horizontalMenuRootMenuitemIconHoverColor: $textSecondaryColor;
$horizontalMenuRootMenuitemHoverBg: rgb(0 0 0 / 4%);
$horizontalMenuRootMenuitemTextActiveColor: $textColor;
$horizontalMenuRootMenuitemIconActiveColor: $textSecondaryColor;
$horizontalMenuRootMenuitemActiveBg: rgb(0 0 0 / 4%);

// badge and tag
$badgeBg: $primaryColor;
$badgeTextColor: $primaryTextColor;
$badgeMinWidth: 1.5rem;
$badgeHeight: 1.5rem;
$badgeFontWeight: 700;
$badgeFontSize: 0.75rem;
$tagPadding: 0.25rem 0.4rem;

// carousel
$carouselIndicatorsPadding: 1rem;
$carouselIndicatorBg: #dcdcdc;
$carouselIndicatorHoverBg: #ececec;
$carouselIndicatorBorderRadius: 0;
$carouselIndicatorWidth: 2rem;
$carouselIndicatorHeight: 0.5rem;

// galleria
$galleriaMaskBg: rgb(0 0 0 / 90%);
$galleriaCloseIconMargin: 0.5rem;
$galleriaCloseIconFontSize: 2rem;
$galleriaCloseIconBg: transparent;
$galleriaCloseIconColor: rgb(255 255 255 / 87%);
$galleriaCloseIconHoverBg: rgb(255 255 255 / 10%);
$galleriaCloseIconHoverColor: rgb(255 255 255 / 87%);
$galleriaCloseIconWidth: 4rem;
$galleriaCloseIconHeight: 4rem;
$galleriaCloseIconBorderRadius: 50%;
$galleriaItemNavigatorBg: transparent;
$galleriaItemNavigatorColor: #f6f6f6;
$galleriaItemNavigatorMargin: 0 0.5rem;
$galleriaItemNavigatorFontSize: 2rem;
$galleriaItemNavigatorHoverBg: rgb(255 255 255 / 10%);
$galleriaItemNavigatorHoverColor: rgb(255 255 255 / 87%);
$galleriaItemNavigatorWidth: 4rem;
$galleriaItemNavigatorHeight: 4rem;
$galleriaItemNavigatorBorderRadius: 50%;
$galleriaCaptionBg: rgb(0 0 0 / 50%);
$galleriaCaptionTextColor: rgb(255 255 255 / 87%);
$galleriaCaptionPadding: 1rem;
$galleriaIndicatorsPadding: 1rem;
$galleriaIndicatorBg: #dcdcdc;
$galleriaIndicatorHoverBg: #ececec;
$galleriaIndicatorBorderRadius: 50%;
$galleriaIndicatorWidth: 1.25rem;
$galleriaIndicatorHeight: 1.25rem;
$galleriaIndicatorsBgOnItem: rgb(0 0 0 / 50%);
$galleriaIndicatorBgOnItem: rgb(255 255 255 / 40%);
$galleriaIndicatorHoverBgOnItem: rgb(255 255 255 / 60%);
$galleriaThumbnailContainerBg: rgb(0 0 0 / 90%);
$galleriaThumbnailContainerPadding: 1rem 0.25rem;
$galleriaThumbnailNavigatorBg: transparent;
$galleriaThumbnailNavigatorColor: rgb(255 255 255 / 87%);
$galleriaThumbnailNavigatorHoverBg: rgb(255 255 255 / 10%);
$galleriaThumbnailNavigatorHoverColor: rgb(255 255 255 / 87%);
$galleriaThumbnailNavigatorBorderRadius: 50%;
$galleriaThumbnailNavigatorWidth: 2rem;
$galleriaThumbnailNavigatorHeight: 2rem;

// divider
$dividerHorizontalMargin: 1.25rem 0;
$dividerHorizontalPadding: 0 1.25rem;
$dividerVerticalMargin: 0 1.25rem;
$dividerVerticalPadding: 1.25rem 0;
$dividerSize: 1px;
$dividerColor: rgb(0 0 0 / 12%);

// avatar
$avatarBg: rgb(0 0 0 / 12%);
$avatarTextColor: $textColor;

// chip
$chipBg: rgb(0 0 0 / 12%);
$chipTextColor: $textColor;
$chipBorderRadius: 16px;

// scrollTop
$scrollTopBg: $accentColor;
$scrollTopHoverBg: rgba($accentColor, 0.92);
$scrollTopWidth: 3rem;
$scrollTopHeight: 3rem;
$scrollTopBorderRadius: 50%;
$scrollTopFontSize: 1.5rem;
$scrollTopTextColor: $accentTextColor;

// skeleton
$skeletonBg: rgb(0 0 0 / 8%);
$skeletonAnimationBg: rgb(255 255 255 / 40%);

// splitter
$splitterGutterBg: rgb(0 0 0 / 4%);
$splitterGutterHandleBg: rgb(0 0 0 / 12%);

// speeddial
$speedDialButtonWidth: 4rem !default;
$speedDialButtonHeight: 4rem !default;
$speedDialButtonIconFontSize: 2rem !default;
$speedDialActionWidth: 3rem !default;
$speedDialActionHeight: 3rem !default;
$speedDialActionBg: $accentColor !default;
$speedDialActionHoverBg: rgba($accentColor, 0.92) !default;
$speedDialActionTextColor: #ffffff !default;
$speedDialActionTextHoverColor: #ffffff !default;

// dock
$dockActionWidth: 4rem !default;
$dockActionHeight: 4rem !default;
$dockItemPadding: 0.5rem !default;
$dockCurrentItemMargin: 1.5rem !default;
$dockFirstItemsMargin: 1.3rem !default;
$dockSecondItemsMargin: 0.9rem !default;
$dockBg: rgb(255 255 255 / 10%) !default;
$dockBorder: 1px solid rgb(255 255 255 / 20%) !default;
$dockPadding: 0.5rem 0.5rem !default;
$dockBorderRadius: 0.5rem !default;

:root {
  --surface-a: #ffffff;
  --surface-b: #fafafa;
  --surface-c: rgb(0 0 0 / 4%);
  --surface-d: rgb(0 0 0 / 12%);
  --surface-e: #ffffff;
  --surface-f: #ffffff;
  --text-color: #{$textColor};
  --text-color-secondary: #{textSecondaryColor};
  --primary-color: #{$primaryColor};
  --primary-color-text: #{$primaryTextColor};
  --font-family: #{$fontFamily};
}
