$icon-air-condition: '\41';
$icon-bidding: '\42';
$icon-breakfast: '\43';
$icon-business-travel: '\44';
$icon-calendar-today: '\6a';
$icon-calendar-month: '\45';
$icon-coming-soon: '\46';
$icon-email: '\47';
$icon-headphones: '\48';
$icon-cleaning: '\49';
$icon-destination: '\4a';
$icon-single-bed: '\61';
$icon-double-bed: '\4b';
$icon-event: '\4c';
$icon-airplane: '\e90d';
$icon-flight: '\4d';
$icon-wifi: '\4e';
$icon-user: '\67';
$icon-group: '\4f';
$icon-gym: '\50';
$icon-half-pansion: '\51';
$icon-hotel: '\52';
$icon-reception: '\53';
$icon-no-smoking: '\54';
$icon-parking: '\55';
$icon-preferences: '\56';
$icon-zzz: '\57';
$icon-room-service: '\58';
$icon-secret-deal: '\59';
$icon-budget: '\5a';
$icon-special-offer: '\62';
$icon-pool: '\63';
$icon-ticket: '\64';
$icon-tv: '\65';
$icon-leisure: '\66';
$icon-train-departure: '\68';
$icon-train-arrival: '\69';
$icon-suitcase: '\e900';
$icon-snowflake: '\e901';
$icon-manual-transmission: '\e902';
$icon-car-seat: '\e903';
$icon-car-door: '\e904';
$icon-automatic-transmission: '\e905';
$icon-car: '\e906';
$icon-taxi: '\e907';
$icon-speed: '\e908';
$icon-wheelchair: '\e909';
$icon-bistro: '\e90a';
$icon-sj-logo: '\e90b';
$icon-visibility-off: '\e90c';
$icon-carry-on-bag: '\e90e';
$icon-co2: '\e90f';
