<dib-auth-wrapper>
  <form [formGroup]="form" (ngSubmit)="request()" class="flex flex-col">
    <ng-container *ngIf="!requestIsSent; else showSuccessMessage">
      <div class="mb-6">Request to change password will be sent to account’s email.</div>

      <div *ngIf="showErrorPanel" class="mb-4 flex bg-dib-gray-100 p-4">
        <span class="material-icons mr-2 text-red-600">error_outline</span>
        <div class="flex flex-col">
          <span>You have entered incorrect details.</span>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Email address</mat-label>
        <input matInput type="text" name="email" formControlName="email" required autocomplete="off" />
      </mat-form-field>
    </ng-container>
    <ng-template #showSuccessMessage>
      <div class="mb-10">Request has been sent. Please check your email.</div>

      <!-- There will be no email if we are using mock APIs and this will allow us to go through entire process -->
      <div class="mb-10 rounded border bg-gray-100 p-4" *ngIf="usersAreMocked">
        <span class="mb-2 block border-b pb-1 font-medium">Mocked link</span>

        <a class="text-emerald-600" [routerLink]="'/auth/change-password'" [queryParams]="{ token: 123123 }">Click here</a>

        to enter new password
      </div>
    </ng-template>

    <div class="flex items-center justify-between">
      <a class="text-emerald-600" [routerLink]="'/auth/login'">Return to Login</a>
      <button *ngIf="!requestIsSent" data-id="request" mat-flat-button color="primary" class="py-1 px-4 text-white">Request</button>
    </div>
  </form>
</dib-auth-wrapper>
