// Reset material variables that throw console warnings
$mat-form-field-dedupe: null;
$mat-form-field-legacy-dedupe: null;
$mat-form-field-fill-dedupe: null;
$mat-form-field-outline-dedupe: null;
$_mat-theme-emitted-color: null;
$_mat-theme-emitted-density: null;
$_mat-theme-emitted-typography: null;
$mat-theme-ignore-duplication-warnings: null;
$_mat-density-generate-at-root: null;
$_mat-density-generate-styles: null;
$mat-private-density-generate-styles: null;
$mat-private-density-generate-at-root: null;
